In [1]:
import numpy as np
import pandas as pd

In [2]:
ccd=pd.read_csv('/content/drive/MyDrive/creditcard.csv')

In [3]:
ccd.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [4]:
ccd.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

In [ ]:
ccd.info()

In [ ]:
ccd.tail()

In [5]:
ccd.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
ccd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
ccd['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

0 -> Valid Transactions
1 -> Fraud Transactions

In [8]:
valid = ccd[ccd.Class==0]
fraud = ccd[ccd.Class==1]

In [9]:
print(valid.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [10]:
valid.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
ccd.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

In [13]:
valid_sample=valid.sample(n=492)

In [14]:
new_sample_dataset= pd.concat([valid_sample , fraud] , axis=0)

In [15]:
new_sample_dataset.head()

            Time        V1        V2  ...       V28  Amount  Class
145626   87101.0 -0.970087  0.229029  ...  0.127651   38.72      0
91641    63566.0 -1.030398  1.411226  ...  0.021918   14.49      0
217727  141005.0  1.869777 -0.601721  ... -0.045113   53.99      0
82296    59347.0 -0.595402  0.150517  ... -0.538686   12.00      0
213574  139309.0  1.786766 -0.556357  ... -0.064951   81.31      0

[5 rows x 31 columns]

In [16]:
new_sample_dataset.tail()

            Time        V1        V2  ...       V28  Amount  Class
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[5 rows x 31 columns]

In [17]:
new_sample_dataset['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [18]:
new_sample_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      97227.065041 -0.058645 -0.049013  ...  0.012929  0.003698   87.352215
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

In [19]:
x=new_sample_dataset.drop(columns='Class',axis=1)
y=new_sample_dataset['Class']

In [20]:
print(x)

            Time        V1        V2  ...       V27       V28  Amount
145626   87101.0 -0.970087  0.229029  ...  0.306936  0.127651   38.72
91641    63566.0 -1.030398  1.411226  ... -0.158189  0.021918   14.49
217727  141005.0  1.869777 -0.601721  ...  0.025889 -0.045113   53.99
82296    59347.0 -0.595402  0.150517  ... -0.477119 -0.538686   12.00
213574  139309.0  1.786766 -0.556357  ... -0.022664 -0.064951   81.31
...          ...       ...       ...  ...       ...       ...     ...
279863  169142.0 -1.927883  1.125653  ...  0.292680  0.147968  390.00
280143  169347.0  1.378559  1.289381  ...  0.389152  0.186637    0.76
280149  169351.0 -0.676143  1.126366  ...  0.385107  0.194361   77.89
281144  169966.0 -3.113832  0.585864  ...  0.884876 -0.253700  245.00
281674  170348.0  1.991976  0.158476  ...  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [21]:
print(y)

145626    0
91641     0
217727    0
82296     0
213574    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size=0.2 , stratify=y , random_state=2)

In [23]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [24]:
model.fit(x_train , y_train)

LogisticRegression()

In [25]:
from sklearn.metrics import accuracy_score , confusion_matrix
x_train_prediction= model.predict(x_train)

In [26]:
training_accuracy=accuracy_score(x_train_prediction , y_train)

In [27]:
print('Training data accuracy : ', training_accuracy)

Training data accuracy :  0.9263024142312579

In [28]:
x_test_prediction=model.predict(x_test)
testing_accuracy=accuracy_score(x_test_prediction , y_test)
cm= confusion_matrix(y_test , x_test_prediction)

In [29]:
print(cm)

[[91  8]
 [14 84]]

In [30]:
print('Testing data accuracy : ', testing_accuracy)

Testing data accuracy :  0.8883248730964467